<div class="widget-answers">
    <div class="btn-group pull-right" role="group">
        <a href="/q/{{ question.id }}#answers-title" id="sortby-rank"
           class="btn btn-default btn-xs active">默认排序</a>
        <a href="?sort=created#answers-title" id="sortby-created"
           class="btn btn-default btn-xs">时间排序</a>
    </div>

    <h2 class="title h4 mt30 mb20 post-title" id="answers-title">{{ question.answers.count() }} 个回答</h2>

    {% for answer in question.answers %}
        <article
                class="clearfix widget-answers__item accepted"
                id="a-{{ question.id }}">
            <div class="post-col">
                <div class="widget-vote">
                    <button type="button"
                            class="like"
                            data-id="{{ question.id }}"
                            data-type="answer"
                            data-do="like"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="答案对人有帮助，有参考价值">
                        <span class="sr-only">答案对人有帮助，有参考价值</span>
                    </button>
                    <span class="count">{{ answer.vote_num }}</span>
                    <button type="button"
                            class="hate"
                            data-id="{{ question.id }}"
                            data-type="answer"
                            data-do="hate"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="答案没帮助，是错误的答案，答非所问">
                        <span class="sr-only">答案没帮助，是错误的答案，答非所问</span>
                    </button>
                </div>
                {#                <div class="accepted-flag">采纳</div>#}
            </div>

            <div class="post-offset ">
                <a class="" href="/u/suninformation">
                    <img class="avatar-24"
                         src=""
                         alt=""/>
                </a>
                <strong><a href="/u/{{ answer.author_id }}" class="mr5">{{ answer.answerer.username }}</a></strong>
                <span class="ml10 text-muted">{{ answer.create_time }} 回答</span>
                <div class="answer fmt mt10">
                    {{ answer.body |safe }}
                </div>

                {#            <div class="post-opt">#}
                {#                <ul class="list-inline mb0">#}
                {#                    <li><a href="/q/1010000002520634/a-1020000002531131">链接</a></li>#}
                {#                    <li><a href="javascript:void(0);" class="comments" data-id="1020000002531131"#}
                {#                           data-target="#comment-1020000002531131">#}
                {#                        评论</a></li>#}
                {#                    <li class="dropdown">#}
                {#                        <a href="javascript:void(0);" class="dropdown-toggle"#}
                {#                           data-toggle="dropdown">更多<b#}
                {#                                class="caret"></b></a>#}
                {#                        <ul class="dropdown-menu dropdown-menu-left">#}
                {#                        </ul>#}
                {#                    </li>#}
                {#                </ul>#}
                {#            </div>#}
                {##}
                {#            <div class="widget-comments hidden" id="comment-1020000002531131"#}
                {#                 data-id="1020000002531131">#}
                {#                <div class="widget-comments__form row">#}
                {##}
                {#                    <div class="col-md-12">#}
                {#                        请先 <a class="commentLogin" href="javascript:void(0);">登录</a> 后评论#}
                {#                                </div>#}
                {#            </div><!-- /.widget-comments__form -->#}
            </div><!-- /.widget-comments -->
        </article>
    {% endfor %}
    <div class="text-center">
    </div>
</div><!-- /.widget-answers -->