<footer id="footer">
    <div class="container">
        {#        <div class="row hidden-xs">#}
        {#            <dl class="col-sm-2 site-link">#}
        {#                <dd><a href="/about">关于我们</a></dd>#}
        {#                <dd><a href="/faq">帮助中心</a></dd>#}
        {#            </dl>#}
        {#            <dl class="col-sm-2 site-link">#}
        {#                <dd><a href="/contact">联系我们</a></dd>#}
        {#            </dl>#}
        {#        </div>#}
        <div class="copyright">
            Copyright &copy; 2015-2016 Answers. 当前版本 1.0.0
            <br>
            本页面由yueyt于春节制作完成,框架flask+sqlalchemy+mysql
        </div>
    </div>
</footer>