<div class="global-nav" xmlns="http://www.w3.org/1999/html">
    <nav class="container nav">
        <div class="dropdown m-menu">
            <a href="javascript:void(0);" id="dLabel" class="visible-xs-block m-toptools" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-align-justify"></span>
                <span class="mobile-menu__unreadpoint"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li class="mobile-menu__item"><a href="/questions/newest">问答</a></li>
                <li class="mobile-menu__item"><a href="/tags">标签</a></li>
            </ul>
        </div>

        <h1 class="logo"><a class="sf" href="{{ url_for('site.index') }}">Answers</a></h1>

        <a href="/api/user/login" class="visible-xs-block pull-right m-ask m-toptools"><span
                class="glyphicon glyphicon-log-in"></span></a>

        <form action="/search" class="header-search pull-left hidden-sm hidden-xs">
            <button class="btn btn-link">
                <span class="sr-only">搜索</span>
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <input id="searchBox" name="q" type="text" placeholder="输入关键字搜索" class="form-control"
                   value=""/>
        </form>

        <ul class="menu list-inline pull-left hidden-xs">
            <li class="menu__item"><a href="/questions">问答</a></li>
            <li class="menu__item"><a href="/tags">标签</a></li>

            {#            <li class="menu__item dropdown hoverDropdown">#}
            {#                <a data-toggle="dropdown" href="/" class="more dropdownBtn">#}
            {#                    &middot;&middot;&middot;<span class="sr-only">更多</span>#}
            {#                </a>#}
            {#                <ul class="dropdown-menu">#}
            {#                    <li><a href="/tags">标签</a></li>#}
            {#                </ul>#}
            {#            </li>#}
        </ul>

        {% if current_user.is_authenticated %}
            <ul class="menu list-inline pull-right hidden-xs">
                <li class="opts__item message has-unread">
                    <a href="/tour">
                        <span class="sr-only">消息</span>
                        <span id="messageCount" class="glyphicon glyphicon-envelope"></span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{{ url_for('user.index', id=current_user.id) }}">
                        我的首页
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{{ url_for('user_api.logout') }}">
                        退出
                    </a>
                </li>
            </ul>
        {% else %}
            <ul class="opts pull-right list-inline hidden-xs">
                <li class="opts__item">
                    <a href="/api/user/login" class="SFLogin em ml10"
                       onClick="_gaq.push(['_trackEvent', 'Button', 'Click', 'Login']);">注册 &middot; 登录</a>
                </li>
            </ul>
        {% endif %}

    </nav>
</div>