<div class="widget-box">
    <h2 class="h4 widget-box__title">最近热门的</h2>
    <ul class="widget-links list-unstyled">
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000004364063">大家平常怎么减少自己的bug率</a>
            <small class="text-muted">
                15 回答 | 已解决
            </small>
        </li>
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000000119126">jquery如何删除一个css属性</a>
            <small class="text-muted">
                13 回答 | 已解决
            </small>
        </li>
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000004364994">为什么有部分程序员喜欢用很旧的开发环境</a>
            <small class="text-muted">
                9 回答
            </small>
        </li>
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000002520634">微信公众平台, config:invalid
                signature一直爆这个错误，求教如何解决？</a>
            <small class="text-muted">
                28 回答 | 已解决
            </small>
        </li>
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000002539562">HTML5网页如何调用浏览器APP的微信分享功能？</a>
            <small class="text-muted">
                9 回答
            </small>
        </li>
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000002516668">微信js 已经填写JS接口安全域名了，为啥还报invalid url
                domain这个错？</a>
            <small class="text-muted">
                8 回答 | 已解决
            </small>
        </li>
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000002577629">聊一下php多线程的应用场合吧，例如php的pthreads</a>
            <small class="text-muted">
                3 回答
            </small>
        </li>
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000004362557">有没有什么比较好的私人git仓库？</a>
            <small class="text-muted">
                10 回答 | 已解决
            </small>
        </li>
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000004364482">在网页中引入视频,哪种方式兼容性好？</a>
            <small class="text-muted">
                3 回答
            </small>
        </li>
        <li class="widget-links__item">
            <a href="http://segmentfault.com/q/1010000000256516">搞不清FastCgi与PHP-fpm之间是个什么样的关系</a>
            <small class="text-muted">
                13 回答 | 已解决
            </small>
        </li>
    </ul>
</div>