<div class="widget-box">
    <h2 class="h4 widget-box__title">最近热门的</h2>
    <ul class="widget-links list-unstyled">
        {% for last_hot_question in last_hot_questions %}
            <li class="widget-links__item">
                <a href="/q/{{ last_hot_question.id }}">{{ last_hot_question.title }}</a>
                <small class="text-muted">
                    {{ last_hot_question.answers.count() }} 回答 | 未解决
                </small>
            </li>
        {% endfor %}
    </ul>
</div>