<div class="post-topheader">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="/questions/newest">问答</a></li>
                    <li class="active">问答详情</li>
                </ol>

                <h1 class="h3 title" id="questionTitle" data-id="{{ question.id }}"><a
                        href="/q/{{ question.id }}">{{ question.title }}</a></h1>

                <div class="author">
                    <a href="/u/{{ question.author_id }}" class="mr5">
                        <strong>{{ question.asker.username }}</strong>
                    </a>
                    <strong class="text-black mr10"></strong>
                    {{ moment(question.create_time,local=True).fromNow(refresh=True) }}提问
                </div>
            </div>
            <div class="col-md-3">
                <ul class="widget-action--ver list-unstyled">
                    <li>
                        <button type="button" id="sideFollow" class="btn btn-success btn-sm"
                                data-id="{{ question.id }}" data-do="follow" data-type="question"
                                data-toggle="tooltip" data-placement="right" title="关注后将获得更新提醒">关注
                        </button>
                        <strong>34</strong> 关注
                    </li>
                    <li>
                        <button type="button" id="sideBookmark" class="btn btn-default btn-sm"
                                data-id="{{ question.id }}" data-type="question">收藏
                        </button>
                        <strong id="sideBookmarked">7</strong> 收藏，<strong
                            class="no-stress">{{ question.view_num }}</strong> 浏览
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end .post-topheader -->