<div class="col-xs-12 col-md-3 side">
    <div class="widget-box no-border">
        <h2 class="h4 widget-box__title">相似问题</h2>
        <ul class="widget-links list-unstyled">
            {% for question in similar_question %}
                <li class="widget-links__item"><a title="{{ question.title }}"
                                                  href="/q/{{ question.id }}">{{ question.title }}</a>
                    <small class="text-muted">
                        {{ question.answers.count() }} 回答
                    </small>
                </li>
            {% endfor %}
        </ul>
    </div>


</div><!-- /.side -->