<footer id="footer">
    <div class="container">
        <div class="row hidden-xs">
            <dl class="col-sm-2 site-link">
                <dt>网站相关</dt>
                <dd><a href="http://segmentfault.com/about">关于我们</a></dd>
                <dd><a href="http://segmentfault.com/tos">服务条款</a></dd>
                <dd><a href="http://segmentfault.com/faq">帮助中心</a></dd>
                <dd><a href="http://segmentfault.com/repu">声望与权限</a></dd>
                <dd><a href="http://segmentfault.com/markdown">编辑器语法</a></dd>
                <dd><a href="http://weekly.segmentfault.com/">每周精选</a></dd>
                <dd><a href="http://segmentfault.com/app">App 下载</a></dd>
            </dl>
            <dl class="col-sm-2 site-link">
                <dt>联系合作</dt>
                <dd><a href="http://segmentfault.com/contact">联系我们</a></dd>
                <dd><a href="http://segmentfault.com/hiring">加入我们</a></dd>
                <dd><a href="http://segmentfault.com/link">合作伙伴</a></dd>
                <dd><a href="http://segmentfault.com/press">媒体报道</a></dd>
                <dd><a href="http://segmentfault.com/0x">建议反馈</a></dd>
                <dd><a href="http://pan.baidu.com/share/link?shareid=604288&uk=839272106" target="_blank">Logo 下载</a>
                </dd>
            </dl>
            <dl class="col-sm-2 site-link">
                <dt>常用链接</dt>
                <dd>
                    <a href="https://chrome.google.com/webstore/detail/segmentfault-%E7%AC%94%E8%AE%B0/pjklfdmleagfaekibdccmhlhellefcfo"
                       target="_blank">笔记插件: Chrome</a></dd>
                <dd><a href="https://addons.mozilla.org/zh-CN/firefox/addon/sf-note-ext/" target="_blank">笔记插件:
                    Firefox</a></dd>
                <dd><a href="http://mirrors.segmentfault.com/" target="_blank">文档镜像</a></dd>
                <dd>订阅：<a href="http://segmentfault.com/feeds">问答</a> / <a
                        href="http://segmentfault.com/feeds/blogs">文章</a></dd>
                <dd><a href="http://segmentfault.com/hackathon">黑客马拉松</a></dd>
                <dd><a href="http://segmentfault.com/giveaways" target="_blank">开发者福利</a></dd>
                <!--             <dd><a href="http://zs.segmentfault.com/" target="_blank">一起涨姿势</a></dd> -->
                <dd><a href="https://namebeta.com/" target="_blank">域名搜索注册</a></dd>
            </dl>
            <dl class="col-sm-2 site-link">
                <dt>关注我们</dt>
                <dd><a href="https://github.com/SegmentFault" target="_blank">GitHub</a></dd>
                <dd><a href="https://twitter.com/segment_fault" target="_blank">Twitter</a></dd>
                <!-- <dd><a href="http://page.renren.com/699146294" target="_blank">人人网</a></dd> -->
                <dd><a href="https://www.linkedin.com/company/segmentfault" target="_blank">LinkedIn</a></dd>
                <dd><a href="http://weibo.com/segmentfault" target="_blank">新浪微博</a></dd>
                <dd><a href="http://i.youku.com/segmentfault" target="_blank">优酷主页</a></dd>
                <dd><a href="http://segmentfault.com/blog/segmentfault" target="_blank">开发日志</a></dd>
            </dl>
            <dl class="col-sm-4 site-link" id="license">
                <dt>内容许可</dt>
                <dd>除特别说明外，用户内容均采用 <a rel="license" target="_blank"
                                      href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0
                    中国大陆许可协议</a> 进行许可
                </dd>
                <dd>本站由 <a target="_blank" href="http://qingcloud.com/">青云 QingCloud</a> 提供云计算服务<br><a target="_blank"
                                                                                                       href="https://www.upyun.com/?utm_source=segmentfault&utm_medium=link&utm_campaign=upyun&md=segmentfault">又拍云</a>
                    提供 CDN 存储服务
                </dd>
                <dd>
                    <a key="55e59bd4efbfb0241247d4e4" logo_size="124x47" logo_type="realname"
                       href="http://www.anquan.org">
                        <script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script>
                    </a>
                    <!-- Begin DigiCert site seal HTML and JavaScript -->
                    <div id="DigiCertClickID_2bMgZTfe" data-language="en" style="float: left; margin-right: 10px"></div>
                    <script type="text/javascript">
                        var __dcid = __dcid || [];
                        __dcid.push(["DigiCertClickID_2bMgZTfe", "3", "s", "black", "2bMgZTfe"]);
                        (function () {
                            var cid = document.createElement("script");
                            cid.async = true;
                            cid.src = "//seal.digicert.com/seals/cascade/seal.min.js";
                            var s = document.getElementsByTagName("script");
                            var ls = s[(s.length - 1)];
                            ls.parentNode.insertBefore(cid, ls.nextSibling);
                        }());
                    </script>
                    <!-- End DigiCert site seal HTML and JavaScript -->
                </dd>
            </dl>
        </div>
        <div class="copyright">
            Copyright &copy; 2011-2016 SegmentFault. 当前呈现版本 16.01.20<br><a href="http://www.miibeian.gov.cn/"
                                                                           rel="nofollow">浙ICP备15005796号-2</a>
        </div>
        <p class="text-center">
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="mobile" href="javascript:;">移动版</a>
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="desktop"
               href="javascript:;">桌面版</a>
        </p>
    </div>
</footer>