{% from '_wtf.html' import form_field %}
{% if login_type == 'page' %}
    <div class="container">
        <div class="header text-center">
            <h1>
                <a href="/" class="logo">
                    Answers
                </a>
            </h1>
            <p class="description text-muted">欢迎加入最专业的中文开发者社区</p>
        </div>
        <div class="row bg-white login">
            <div class="col-md-4 col-sm-12 col-md-push-7 login-wrap">
                <h1 class="h4 text-muted login-title mb30">用户登录</h1>
                <form action="/api/user/login" method="POST" role="form" class="mt30">
                    {{ login_form.csrf_token }}
                    {{ form_field(login_form.email,required='required') }}
                    {{ form_field(login_form.password,required='required') }}
                    {{ form_field(login_form.remember_me) }}
                    {{ form_field(login_form.submit) }}
                </form>
            </div>
            <div class="login-vline hidden-sm hidden-xs"></div>
            <div class="col-md-4 col-md-pull-3 col-sm-12 login-wrap">
                <h1 class="h4 text-muted login-title mb30">创建新账号</h1>
                <form action="/api/user/register" method="POST" role="form" class="mt30">
                    {{ register_form.csrf_token }}
                    {{ form_field(register_form.username,required='required') }}
                    {{ form_field(register_form.email,required='required') }}
                    {{ form_field(register_form.password,required='required') }}
                    {{ form_field(register_form.submit) }}
                </form>
            </div>
        </div>
        <div class="text-center col-md-12 login-link">
            <a href="/user/forgot">找回密码</a>
            |
            <a href="/">首页</a>
        </div>
    </div>
{% else %}
    <script id="loginModal" type="text/template">
        <div class="row bg-white login-modal">
            <div class="col-md-4 col-sm-12 col-md-push-7 login-wrap">
                <h1 class="h4 text-muted login-title">用户登录</h1>
                <form action="/api/user/login" method="POST" role="form" class="mt30">
                    {{ login_form.csrf_token }}
                    {{ form_field(login_form.email,required='required') }}
                    {{ form_field(login_form.password,required='required') }}
                    {{ form_field(login_form.remember_me) }}
                    {{ form_field(login_form.submit) }}
                </form>
            </div>
            <div class="login-vline hidden-xs hidden-sm"></div>
            <div class="col-md-4 col-md-pull-3 col-sm-12 login-wrap">
                <h1 class="h4 text-muted login-title">创建新账号</h1>
                <form action="/api/user/register" method="POST" role="form" class="mt30">
                    {{ register_form.csrf_token }}
                    {{ form_field(register_form.username,required='required') }}
                    {{ form_field(register_form.email,required='required') }}
                    {{ form_field(register_form.password,required='required') }}
                    {{ form_field(register_form.submit) }}
                </form>
            </div>
        </div>
        <div class="text-center text-muted mt30">
            <a href="/user/forgot" class="ml5">找回密码</a>
        </div>
    </script>
{% endif %}