{% extends 'base.html' %}
{% from 'include/_wtf.html' import form_field %}

{% block content %}
    <div class="wrap publish">
        <p></p>
        <div class="container">
            <form id="question" method="POST" role="form">
                {{ question_form.csrf_token }}
                {{ form_field(question_form.title,required='required') }}
                {{ form_field(question_form.tags,required='required') }}
                {% include 'include/_editor.html' %}
                <p></p>
                {{ form_field(question_form.submit) }}
            </form>
        </div>
        <!-- /.container -->
    </div>
{% endblock %}

{% block page_js %}
    {{ super() }}

    <!-- 富文本编辑器 -->
    <script src="/static/lib/bootstrap-wysiwyg/js/jquery-1.9.0.min.js"></script>
    <script src="/static/lib/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
    <script src="/static/lib/bootstrap-wysiwyg/js/bootstrap.min.js"></script>
    <script src="/static/lib/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
    <script src="/static/lib/bootstrap-wysiwyg/js/bootstrap-wysiwyg.js"></script>

    <script>
        $(function () {
            function initToolbarBootstrapBindings() {
                var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                            'Times New Roman', 'Verdana'],
                        fontTarget = $('[title=Font]').siblings('.dropdown-menu');
                $.each(fonts, function (idx, fontName) {
                    fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
                });
                $('a[title]').tooltip({container: 'body'});
                $('.dropdown-menu input').click(function () {
                            return false;
                        })
                        .change(function () {
                            $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                        })
                        .keydown('esc', function () {
                            this.value = '';
                            $(this).change();
                        });

                $('[data-role=magic-overlay]').each(function () {
                    var overlay = $(this), target = $(overlay.data('target'));
                    overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
                });
                if ("onwebkitspeechchange" in document.createElement("input")) {
                    var editorOffset = $('#editor').offset();
                    $('#voiceBtn').css('position', 'absolute').offset({
                        top: editorOffset.top,
                        left: editorOffset.left + $('#editor').innerWidth() - 35
                    });
                } else {
                    $('#voiceBtn').hide();
                }
            };
            function showErrorAlert(reason, detail) {
                var msg = '';
                if (reason === 'unsupported-file-type') {
                    msg = "Unsupported format " + detail;
                }
                else {
                    console.log("error uploading file", reason, detail);
                }
                $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
            };
            initToolbarBootstrapBindings();
            $('#editor').wysiwyg({fileUploadError: showErrorAlert});
            window.prettyPrint && prettyPrint();
        });


        $(document).ready(function ($) {
            $("#question").submit(function (event) {
                //event.preventDefault();

                $.ajax({
                    url: "/ask",
                    data: $('#question').serialize() + '&body=' + $('#editor').cleanHtml(),
                    type: "POST",
                    dataType: "json",
                    success: function (json) {
                        $("<h1>").text(json.title).appendTo("body");
                        $("<div class=\"content\">").html(json.html).appendTo("body");
                    },
                    error: function (xhr, status, errorThrown) {
                        alert("Sorry, there was a problem!");
                        console.log("Error: " + errorThrown);
                        console.log("Status: " + status);
                        console.dir(xhr);
                    },
                    complete: function (xhr, status) {
                        alert("The request is complete!");
                    }
                });
            });
        })
    </script>
    <!-- 富文本编辑器 end -->

{% endblock %}


