<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="description" content="专注于程序员开发者的社区平台"/>
    <meta name="keywords" content="开发者 程序员"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    {% block page_title -%}{%- endblock %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/qa_all.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css') }}"/>

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ie.css') }}"/>
    <script src="{{ url_for('static',filename='js/html5shiv.js') }}"></script>
    <script src="{{ url_for('static',filename='js/respond.js') }}"></script>
    <![endif]-->
    <script src="{{ url_for('static',filename='js/debug.js') }}"></script>
</head>

<body class="qa-index">
<!--[if lt IE 9]>
    <div class="alert alert-danger topframe" role="alert">你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank"
                                                                                                            class="alert-link"
                                                                                                            href="http://browsehappy.com">立即升级</a>
    </div>
    <![endif]-->
{% block header_nav -%}
    {% include '_header_nav.html' %}
{%- endblock header_nav %}

{% block content -%}
    <div class="wrap">
        <div class="container">
            <div class="row">
                {% block page_content -%}{%- endblock %}
            </div>
        </div>
    </div>
{%- endblock content %}

{% include '_login.html' %}

{% include '_footer_nav.html' %}

<div id="fixedTools" class="hidden-xs hidden-sm">
    <a id="backtop" class="hidden border-bottom" href="#">回顶部</a>
</div>

{% block page_js -%}
    <script crossorigin src="{{ url_for('static',filename='js/assets.js') }}"></script>
{%- endblock %}

</body>
</html>
