<html>
<body>

<div align="left">
    <p align="left">请选择合适的浏览器下载哦，吼吼！</p>
    <div>
        <h3>
            <img src="{{ url_for('static',filename='images/360.jpg') }}">
            <a href="/download/360se8.1.1.132.exe">360 v8安全浏览器</a>
        </h3>
    </div>
    <div>
        <h3>
            <img src="{{ url_for('static',filename='images/chrome.jpg') }}">
            <a href="/download/ChromeSetup.exe">Google Chrome浏览器</a>
        </h3>
    </div>
    <div>
        <h3>
            <img src="{{ url_for('static',filename='images/ff.jpg') }}">
            <a href="/download/Firefox-latest.exe">火狐浏览器</a>
        </h3>
    </div>
</div>
<div><h4><a href="/">回首页看看</a></h4></div>
</body>

</html>