<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta property="qc:admins" content="15317273575564615446375"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="alexaVerifyID" content="LkzCRJ7rPEUwt6fVey2vhxiw1vQ"/>
    <meta name="apple-itunes-app" content="app-id=958101793, app-argument=">
    <title>SegmentFault</title>


    <meta name="description" content="专注于程序员开发者的社区平台，提供开发相关的高质量问答，专栏，笔记，招聘，线下活动等服务。"/>

    <meta name="keywords" content="SegmentFault 开发者 程序员 问答 专栏 博客 笔记 招聘 活动 黑客马拉松"/>

    <link rel="search" type="application/opensearchdescription+xml" href="http://segmentfault.com/opensearch.xml"
          title="SegmentFault"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="http://static.segmentfault.com/v-56a05f82/global/img/touch-icon.png">

    <meta name="msapplication-TileColor" content="#009a61"/>
    <meta name="msapplication-square150x150logo"
          content="http://static.segmentfault.com/v-56a05f82/global/img/touch-icon.png"/>

    <meta name="userId" value="" id="SFUserId"/>
    <meta name="userRank" value="" id="SFUserRank"/>

    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新问题"
          href="http://segmentfault.com/feeds/questions">
    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新文章"
          href="http://segmentfault.com/feeds/blogs">
    <link rel="alternate" type="application/atom+xml" title="订阅 SegmentFault 当前页" href="http://segmentfault.com/feeds">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/qa_all.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css') }}"/>

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ie.css') }}"/>
    <script src="{{ url_for('static',filename='js/html5shiv.js') }}"></script>
    <script src="{{ url_for('static',filename='js/respond.js') }}"></script>
    <![endif]-->
    <script src="{{ url_for('static',filename='js/debug.js') }}"></script>

</head>

<body class="qa-index">
<!--[if lt IE 9]>
<div class="alert alert-danger topframe" role="alert">你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank"
                                                                                                        class="alert-link"
                                                                                                        href="http://browsehappy.com">立即升级</a>
</div>
<![endif]-->

{% include '_header_nav.html' %}

<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 main">
                <p class="main-title hidden-xs">
                    今天，你在开发时遇到了什么问题呢？
                    <a id="goAsk" href="http://segmentfault.com/ask" class="btn btn-primary">我要提问</a>
                </p>

                <ul class="nav nav-tabs nav-tabs-zen mb10">
                    <li {% if not act %}class="active"{% endif %}><a href="/questions">最新的</a></li>
                    <li {% if act == 'hottest' %}class="active"{% endif %}><a href="/questions/hottest">热门的</a></li>
                    <li {% if act == 'unanswered' %}class="active"{% endif %}><a href="/questions/unanswered">未回答</a>
                    </li>
                </ul>
                {% include '_questions.html' %}
            </div> <!-- /.main -->
            <div class="col-xs-12 col-md-3 side mt30">
                <div class="side-ask alert alert-warning">
                    <div class="side-system-notice">
                        <i class="fa fa-bullhorn pull-left"></i><a class="side-system-notice--title"
                                                                   href="http://segmentfault.com/user/settings?tab=lab">
                        公告：SegmentFault将于 2 月 2 日全站切换到新版，点此提前体验</a>
                    </div>
                </div>
                {% include '_tags_nav.html' %}
                {% include '_last_hot_nav.html' %}
            </div><!-- /.side -->
        </div>
    </div>
</div>

{% include '_login.html' %}
{% include '_footer_nav.html' %}

<div id="fixedTools" class="hidden-xs hidden-sm">
    <a id="backtop" class="hidden border-bottom" href="#">回顶部</a>
</div>


<script>
    (function (w) {
        w.SF = {
            staticUrl: "http://static.segmentfault.com/v-56a05f82"
        };
        w.SF.token = (function () {
            var _KwS6NR = ''///*'W9G'*/'W9G'
                    +//'XQ'
                    'f37' + '2'//'NPr'
                    +//'XJ'
                    '2' +//'f'
                    'dc' + '9'//'y86'
                    +//'WFE'
                    'fe1' + ''///*'v'*/'v'
                    + ''///*'pz'*/'pz'
                    + 'gb'//'gb'
                    + ''///*'W5t'*/'W5t'
                    + 'dd'//'Zw'
                    +//'k'
                    '2' + 'f'//'l'
                    +//'4u'
                    '33' + 'c13'//'f9b'
                    +//'pcq'
                    'pcq' +//'Un'
                    'e8e' + ''///*'R'*/'R'
                    +//'fwr'
                    'a34' +//'7'
                    'c4' + '3'//'HZd'
                    + 'T'//'T'
                    + 'eb'//'VX'
                    + 'a'//'Z'
                    , _4PjqMR = [[11, 13], [20, 23], [29, 30]];

            for (var i = 0; i < _4PjqMR.length; i++) {
                _KwS6NR = _KwS6NR.substring(0, _4PjqMR[i][0]) + _KwS6NR.substring(_4PjqMR[i][1]);
            }

            return _KwS6NR;
        })();
        ;
    })(window);

    var lock = {
        type: "",
        text: '',
        table: {"ban_post": [1, "\u4f60\u5df2\u7ecf\u88ab\u7981\u8a00, \u65e0\u6cd5\u8fdb\u884c\u6b64\u64cd\u4f5c, \u5982\u6709\u7591\u4e49\u8bf7\u63d0\u4ea4\u7533\u8bc9, \u6216\u8005\u53d1\u90ae\u4ef6\u5230pr@segmentfault.com"]}
    };
</script>

<script crossorigin src="{{ url_for('static',filename='js/assets.js') }}"></script>
<script crossorigin src="{{ url_for('static',filename='js/index.js') }}"></script>

</body>
</html>
