<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta property="qc:admins" content="15317273575564615446375"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="alexaVerifyID" content="LkzCRJ7rPEUwt6fVey2vhxiw1vQ"/>
    <meta name="apple-itunes-app" content="app-id=958101793, app-argument=">
    <title>javascript - 微信公众平台, config:invalid signature一直爆这个错误，求教如何解决？ - SegmentFault</title>


    <meta name="description" content="然后哦 用这个校验和输出的是一致的也就是说 签名应该没问题吧 但是为什么手机上会显示无效呢 那个环节又出错了"/>

    <meta name="keywords"
          content="java javascript html"/>

    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="SegmentFault"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/static/images/touch-icon.png">

    <meta name="msapplication-TileColor" content="#009a61"/>
    <meta name="msapplication-square150x150logo" content="/static/images/touch-icon.png"/>

    <meta name="userId" value="" id="SFUserId"/>
    <meta name="userRank" value="" id="SFUserRank"/>

    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新问题" href="/feeds/questions">
    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新文章" href="/feeds/blogs">


    <link rel="stylesheet" href="/static/css/global.css"/>
    <link rel="stylesheet" href="/static/css/qa_all.css"/>
    <link rel="stylesheet" href="/static/css/responsive.css"/>


    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/static/css/ie.css"/>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.js"></script>
    <![endif]-->

    <script src="/static/js/debug.js"></script>

</head>

<body class="qa-question">
<!--[if lt IE 9]>
<div class="alert alert-danger topframe" role="alert">你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank"
                                                                                                        class="alert-link"
                                                                                                        href="http://browsehappy.com">立即升级</a>
</div>
<![endif]-->


{% include '_header_nav.html' %}

<div class="wrap">

    {% include '_topheader.html' %}

    <div class="container mt30">
        <div class="row">
            <div class="col-xs-12 col-md-9 main">
                <article class="widget-question__item">
                    <div class="post-col">
                        <div class="widget-vote">
                            <button type="button"
                                    class="like"
                                    data-id="1010000002520634"
                                    data-type="question"
                                    data-do="like"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="问题对人有帮助，内容完整，我也想知道答案">
                                <span class="sr-only">问题对人有帮助，内容完整，我也想知道答案</span>
                            </button>
                            <span class="count">0</span>
                            <button
                                    type="button"
                                    class="hate"
                                    data-id="1010000002520634"
                                    data-type="question"
                                    data-do="hate"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="问题没有实际价值，缺少关键内容，没有改进余地">
                                <span class="sr-only">问题没有实际价值，缺少关键内容，没有改进余地</span>
                            </button>
                        </div>
                        <!-- end .widget-vote -->
                    </div>

                    <div class="post-offset">
                        <div class="question fmt">

                            <p><img data-src="/images/bVkJTt"></p>

                            <p><img data-src="/images/bVkKeu"><br>
                                然后哦 用这个校验和输出的是一致的也就是说 签名应该没问题吧 但是为什么手机上会显示无效呢 那个环节又出错了</p>


                        </div>
                        <ul class="taglist--inline mb20">
                            <li class="tagPopup"><a class="tag" href="/t/java" data-toggle="popover"
                                                    data-placement="top" data-original-title="java"
                                                    data-id="1040000000089449"
                                                    data-img="http://sfault-avatar.b0.upaiyun.com/512/342/51234253-1040000000089449_medium40">java</a>
                            </li>
                            <li class="tagPopup"><a class="tag" href="/t/javascript" data-toggle="popover"
                                                    data-placement="top" data-original-title="javascript"
                                                    data-id="1040000000089436"
                                                    data-img="http://sfault-avatar.b0.upaiyun.com/195/823/1958237468-1040000000089436_medium40">javascript</a>
                            </li>
                            <li class="tagPopup"><a class="tag" href="/t/html" data-toggle="popover"
                                                    data-placement="top" data-original-title="html"
                                                    data-id="1040000000089571"
                                                    data-img="http://sfault-avatar.b0.upaiyun.com/418/365/4183652815-1040000000089571_medium40">html</a>
                            </li>
                        </ul>


                        <div class="post-opt">
                            <ul class="list-inline mb0">
                                <li><a href="/q/1010000002520634">链接</a></li>

                                <li><a href="javascript:void(0);" class="comments" data-id="1010000002520634"
                                       data-target="#comment-1010000002520634">1
                                    评论</a></li>


                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle"
                                       data-toggle="dropdown">更多<b class="caret"></b></a>
                                    <ul class="dropdown-menu dropdown-menu-left">


                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-comments hidden" id="comment-1010000002520634" data-id="1010000002520634">
                            <div class="widget-comments__form row">

                                <div class="col-md-12">
                                    请先 <a class="commentLogin" href="javascript:void(0);">登录</a> 后评论
                                </div>

                            </div><!-- /.widget-comments__form -->
                        </div><!-- /.widget-comments -->


                    </div>
                    <!-- end .post-offset -->
                </article>

                {% include '_answers.html' %}


                <h4>撰写答案</h4>
                <input type="hidden" id="draftId" value="">
                <input type="hidden" value="1010000002520634" id="questionId">
                <form action="/question/1010000002520634/answers/add" method="post" class="editor-wrap">
                    <div class="editor" id="questionText">
                    <textarea id="answerEditor" name="text" class="form-control" rows="4"
                              placeholder="撰写答案..."></textarea>
                    </div>
                    <div id="answerSubmit" class="hide mt15 clearfix">
                        <div class="checkbox pull-left">
                            <label><input type="checkbox" class="" id="shareToWeibo">
                                同步到新浪微博</label>
                        </div>
                        <div class="pull-right">
                    <span id="editorStatus" class="hidden text-muted">

                    </span>
                            <a id="dropIt" href="javascript:void(0);" class="mr10 hidden">
                                [舍弃]
                            </a>
                            <button type="submit" id="answerIt" data-id="1010000002520634"
                                    class="btn btn-lg btn-primary ml20">提交回答
                            </button>
                        </div>
                    </div>
                </form>


            </div>
            <!-- /.main -->
            {% include '_similar_nav.html' %}

        </div>
    </div>
</div>


<div class="hidden widget-register widget-welcome-question mt20 hidden-xs widget-welcome widget-register-slideUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title h4">与我们一起探索更多的未知</h2>
                <p>专业的开发者技术社区，为用户提供多样化的线上知识交流，丰富的线下活动及给力的工作机会</p>
            </div>
            <form action="/api/user/register/fast" method="post">
                <div class="col-sm-5">
                    <div class="form-group mb0">
                        <input type="text" class="form-control" placeholder="邮箱地址" name="mail" required="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary btn-block">加入只需一步</button>
                </div>
                <div class="col-sm-10 mt10 captcha-part" style="display:none;">
                    <div class="row">
                        <div class="col-sm-4 pr0">
                            <input type="text" class="form-control" name="captcha" placeholder="请输入验证码" disabled=""
                                   required="">
                        </div>
                        <div class="col-sm-4 pr0">
                            <a href="javascript:void(0)"><img src="" height="35"></a>
                        </div>
                    </div>
                </div>
            </form>
            <a class="close" href="javascript:void(0);"><span>×</span></a>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal widget-911">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title radio-del question-close-only">关闭<span class="type-911">问题</span>（请谨慎操作）</h4>
                <h4 class="modal-title radio-del question-delete-only">删除<span class="type-911">问题</span>（请谨慎操作）</h4>
                <h4 class="modal-title radio-del answer-delete-only">删除<span class="type-911">回答</span>（请谨慎操作）</h4>
                <h4 class="modal-title radio-del answer-ignore-only">忽略<span class="type-911">回答</span></h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong class="required radio-del question-close-only">关闭理由：</strong>
                    <strong class="required radio-del question-delete-only answer-delete-only">删除理由：</strong>
                    <strong class="required radio-del answer-ignore-only">忽略理由：</strong>
                </p>
                <div id="reportDescription">
                    <div class="radio-del radio all">
                        <label>
                            <input type="radio" name="descRadio" value="推广（招聘、广告、SEO 等）方面的内容"/>
                            推广（招聘、广告、SEO 等）方面的内容
                        </label>
                    </div>
                    <div class="radio-del radio question-close-only">
                        <label>
                            <input type="radio" name="descRadio" value="与已有问题重复">
                            与已有问题重复（请编辑该提问指向已有相同问题）
                        </label>
                    </div>
                    <div class="radio-del radio answer-ignore-only">
                        <label>
                            <input type="radio" name="descRadio" value="答非所问，不符合答题要求">
                            答非所问，不符合答题要求
                        </label>
                    </div>
                    <div class="radio-del radio answer-ignore-only">
                        <label>
                            <input type="radio" name="descRadio" value="宜作评论而非答案">
                            宜作评论而非答案
                        </label>
                    </div>
                    <div class="radio-del radio all">
                        <label>
                            <input type="radio" name="descRadio" value="带有人身攻击、辱骂、仇恨等违反条款的内容">
                            带有人身攻击、辱骂、仇恨等违反条款的内容
                        </label>
                    </div>
                    <div class="radio-del radio question-close-only">
                        <label>
                            <input type="radio" name="descRadio" value="无法获得确切结果的问题">
                            无法获得确切结果的问题
                        </label>
                    </div>
                    <div class="radio-del radio question-close-only">
                        <label>
                            <input type="radio" name="descRadio" value="非开发直接相关的问题">
                            非开发直接相关的问题
                        </label>
                    </div>
                    <div class="radio-del radio question-close-only question-delete-only">
                        <label>
                            <input type="radio" name="descRadio" value="非技术提问的讨论型问题">
                            非技术提问的讨论型问题
                        </label>
                    </div>

                    <div class="radio-del radio all btwRadio">
                        <label>
                            <input type="radio" name="descRadio" value="">
                            其他原因（请补充说明）
                        </label>
                    </div>
                    <div class="btw" style="display:none;">
                        <p class="mt20"><strong>补充说明：</strong></p>
                        <textarea class="form-control" rows="3" name="description" id="deleteDesc"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="submit-delete">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal widget-911" id="911">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">举报<span data-model="type"></span></h4>
            </div>
            <div class="modal-body">
                <form id="reportForm">
                    <!-- 后台返回信息 -->
                    <p class="alert alert-warning" data-model="returnMsg"></p>
                    <div data-role="base">
                        <p>
                            <strong class="required">我要举报该<span data-model="type"></span>，理由是：</strong>
                        </p>
                        <ul class="list-unstyled" data-model="list"></ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-role="back" style="display:none">返回重选
                </button>
                <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
                <button class="btn btn-primary" data-role="submit" type="button">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% include '_footer_nav.html' %}

<div id="fixedTools" class="hidden-xs hidden-sm">
    <a id="backtop" class="hidden border-bottom" href="#">回顶部</a>

    <div class="qrcodeWraper">
        <a href="/app#qrcode"><span class="glyphicon glyphicon-qrcode"></span></a>
        <img id="qrcode" class="border" alt="sf-wechat" src="/page/images/app/appQrcode.png">

        <p class="qrcode-text">扫扫下载 App</p>
    </div>
</div>


<div class="app-promotion-bar">
    <a href="javascript:;"><i class="fa fa-close close"></i></a>
    <div class="icon"></div>
    <h5 class="title h5">SegmentFault</h5>
    <p class="describe">一起探索更多未知</p>
    <a class="download-btn btn btn-sm btn-primary" href="/app#qrcode">下载 App</a>
</div>

{% include '_login.html' %}


<script>
    (function (w) {
        w.SF = {
            staticUrl: ""
        };
        w.SF.token = (function () {
            var _gmfiLd = '70b'//'r3i'
                    + '87'//'Fo'
                    + '9'//'ZnD'
                    +//'z'
                    '6' +//'B'
                    '31' + 'b4'//'Do'
                    + 'de'//'9a3'
                    +//'R7'
                    '3' +//'IS'
                    '7fe' + ''///*'3sv'*/'3sv'
                    + '78'//'y'
                    + '1f'//'D9K'
                    + '374'//'wg'
                    + '388'//'aDQ'
                    +//'7e'
                    '7e' +//'Pnr'
                    'f' + 'de'//'OE'
                    +//'D'
                    '5' +//'STM'
                    '7', _53JM = [[27, 29]];

            for (var i = 0; i < _53JM.length; i++) {
                _gmfiLd = _gmfiLd.substring(0, _53JM[i][0]) + _gmfiLd.substring(_53JM[i][1]);
            }

            return _gmfiLd;
        })();
        ;
    })(window);

    var lock = {
        type: "",
        text: '',
        table: {"ban_post": [1, "\u4f60\u5df2\u7ecf\u88ab\u7981\u8a00, \u65e0\u6cd5\u8fdb\u884c\u6b64\u64cd\u4f5c, \u5982\u6709\u7591\u4e49\u8bf7\u63d0\u4ea4\u7533\u8bc9, \u6216\u8005\u53d1\u90ae\u4ef6\u5230pr@segmentfault.com"]}
    };
</script>

<script crossorigin src="/static/js/assets.js"></script>
<script crossorigin src="/static/js/question.js"></script>


<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-918487-8']);
    _gaq.push(['_trackPageview']);
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');


    ga('create', 'UA-918487-8', 'auto', {'userID': 0, 'createdTime': 0, 'now': 1453820647});
    ga('set', 'dimension1', 'guest');
    ga('send', 'pageview');

</script>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?e23800c454aa573c0ccb16b52665ac26";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script src="//cbjs.baidu.com/js/m.js"></script>
<script>
    if (typeof BAIDU_CLB_fillSlotAsync === 'function') {
        BAIDU_CLB_fillSlotAsync('981183', 'adid-981183');
        BAIDU_CLB_fillSlotAsync('981184', 'adid-981184');
        BAIDU_CLB_fillSlotAsync('981694', 'adid-981694');
        BAIDU_CLB_fillSlotAsync('981179', 'adid-981179');
        BAIDU_CLB_fillSlotAsync('1119908', 'adid-1119908');
    }
</script>


</body>
</html>
