{% extends 'base.html' %}

{% block content %}
    <div class="wrap">
        {% include '_topheader.html' %}
        <div class="container mt30">
            <div class="row">
                <div class="col-xs-12 col-md-9 main">
                    <article class="widget-question__item">
                        <div class="post-col">
                            <div class="widget-vote">
                                <button type="button"
                                        class="like"
                                        data-id="{{ question.id }}"
                                        data-type="question"
                                        data-do="like"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="问题对人有帮助，内容完整，我也想知道答案">
                                    <span class="sr-only">问题对人有帮助，内容完整，我也想知道答案</span>
                                </button>
                                <span class="count">0</span>
                                <button
                                        type="button"
                                        class="hate"
                                        data-id="{{ question.id }}"
                                        data-type="question"
                                        data-do="hate"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="问题没有实际价值，缺少关键内容，没有改进余地">
                                    <span class="sr-only">问题没有实际价值，缺少关键内容，没有改进余地</span>
                                </button>
                            </div>
                            <!-- end .widget-vote -->
                        </div>

                        <div class="post-offset">
                            <div class="question fmt">
                                {{ question.body |safe }}
                            </div>
                            <ul class="taglist--inline mb20">
                                <li class="tagPopup"><a class="tag" href="/t/java" data-toggle="popover"
                                                        data-placement="top" data-original-title="java"
                                                        data-id="1040000000089449"
                                                        data-img="http://sfault-avatar.b0.upaiyun.com/512/342/51234253-1040000000089449_medium40">java</a>
                                </li>
                                <li class="tagPopup"><a class="tag" href="/t/javascript" data-toggle="popover"
                                                        data-placement="top" data-original-title="javascript"
                                                        data-id="1040000000089436"
                                                        data-img="http://sfault-avatar.b0.upaiyun.com/195/823/1958237468-1040000000089436_medium40">javascript</a>
                                </li>
                                <li class="tagPopup"><a class="tag" href="/t/html" data-toggle="popover"
                                                        data-placement="top" data-original-title="html"
                                                        data-id="1040000000089571"
                                                        data-img="http://sfault-avatar.b0.upaiyun.com/418/365/4183652815-1040000000089571_medium40">html</a>
                                </li>
                            </ul>


                            <div class="post-opt">
                                <ul class="list-inline mb0">
                                    <li><a href="/q/1010000002520634">链接</a></li>

                                    <li><a href="javascript:void(0);" class="comments" data-id="1010000002520634"
                                           data-target="#comment-1010000002520634">1
                                        评论</a></li>


                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle"
                                           data-toggle="dropdown">更多<b class="caret"></b></a>
                                        <ul class="dropdown-menu dropdown-menu-left">


                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget-comments hidden" id="comment-1010000002520634"
                                 data-id="1010000002520634">
                                <div class="widget-comments__form row">

                                    <div class="col-md-12">
                                        请先 <a class="commentLogin" href="javascript:void(0);">登录</a> 后评论
                                    </div>

                                </div><!-- /.widget-comments__form -->
                            </div><!-- /.widget-comments -->


                        </div>
                        <!-- end .post-offset -->
                    </article>

                    {% include '_answers.html' %}

                    {% if current_user.can(Permission.WRITE_ARTICLES) %}
                        <h4>撰写答案</h4>
                        {% include '_editor.html' %}
                        <div id="answerSubmit" class="mt15 clearfix">
                            <div class="pull-right">
                                <button type="submit" id="answerIt" data-id="1010000004427031"
                                        class="btn btn-lg btn-primary">提交回答
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <a href="/login">登录发表你的答案</a>
                    {% endif %}
                </div>
                <!-- /.main -->
                {% include '_similar_nav.html' %}
                <!-- /.side -->
            </div>
        </div>
    </div>
{% endblock content %}

{% block page_js %}
    {{ super() }}
    <script>
        (function (w) {
            w.SF = {
                staticUrl: "http://static.segmentfault.com/v-56a05f82"
            };
            w.SF.token = (function () {
                var _gmfiLd = '70b'//'r3i'
                        + '87'//'Fo'
                        + '9'//'ZnD'
                        +//'z'
                        '6' +//'B'
                        '31' + 'b4'//'Do'
                        + 'de'//'9a3'
                        +//'R7'
                        '3' +//'IS'
                        '7fe' + ''///*'3sv'*/'3sv'
                        + '78'//'y'
                        + '1f'//'D9K'
                        + '374'//'wg'
                        + '388'//'aDQ'
                        +//'7e'
                        '7e' +//'Pnr'
                        'f' + 'de'//'OE'
                        +//'D'
                        '5' +//'STM'
                        '7', _53JM = [[27, 29]];

                for (var i = 0; i < _53JM.length; i++) {
                    _gmfiLd = _gmfiLd.substring(0, _53JM[i][0]) + _gmfiLd.substring(_53JM[i][1]);
                }

                return _gmfiLd;
            })();
            ;
        })(window);

        var lock = {
            type: "",
            text: '',
            table: {"ban_post": [1, "\u4f60\u5df2\u7ecf\u88ab\u7981\u8a00, \u65e0\u6cd5\u8fdb\u884c\u6b64\u64cd\u4f5c, \u5982\u6709\u7591\u4e49\u8bf7\u63d0\u4ea4\u7533\u8bc9, \u6216\u8005\u53d1\u90ae\u4ef6\u5230pr@segmentfault.com"]}
        };
    </script>
    <script crossorigin src="{{ url_for('static',filename='js/question.js') }}"></script>


    <!-- 富文本编辑器 -->
    <script src="/static/lib/bootstrap-wysiwyg/js/jquery-1.9.0.min.js"></script>
    <script src="/static/lib/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
    <script src="/static/lib/bootstrap-wysiwyg/js/bootstrap.min.js"></script>
    <script src="/static/lib/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
    <script src="/static/lib/bootstrap-wysiwyg/js/bootstrap-wysiwyg.js"></script>

    <script>
        $(document).ready(function () {
            $("#answerIt").click(function () {
                $.post($("#questionTitle").attr("data-id") + "/answers/add",
                        {
                            answer_data: $("#editor").cleanHtml()
                        },
                        function (data, status) {
                            alert("发布成功" + "\n状态：" + status);
                            window.location.reload(true);
                        });
            });
        })
        $(function () {
            function initToolbarBootstrapBindings() {
                var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                            'Times New Roman', 'Verdana'],
                        fontTarget = $('[title=Font]').siblings('.dropdown-menu');
                $.each(fonts, function (idx, fontName) {
                    fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
                });
                $('a[title]').tooltip({container: 'body'});
                $('.dropdown-menu input').click(function () {
                            return false;
                        })
                        .change(function () {
                            $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                        })
                        .keydown('esc', function () {
                            this.value = '';
                            $(this).change();
                        });

                $('[data-role=magic-overlay]').each(function () {
                    var overlay = $(this), target = $(overlay.data('target'));
                    overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
                });
                if ("onwebkitspeechchange" in document.createElement("input")) {
                    var editorOffset = $('#editor').offset();
                    $('#voiceBtn').css('position', 'absolute').offset({
                        top: editorOffset.top,
                        left: editorOffset.left + $('#editor').innerWidth() - 35
                    });
                } else {
                    $('#voiceBtn').hide();
                }
            };
            function showErrorAlert(reason, detail) {
                var msg = '';
                if (reason === 'unsupported-file-type') {
                    msg = "Unsupported format " + detail;
                }
                else {
                    console.log("error uploading file", reason, detail);
                }
                $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
            };
            initToolbarBootstrapBindings();
            $('#editor').wysiwyg({fileUploadError: showErrorAlert});
            window.prettyPrint && prettyPrint();
        });
    </script>
    <!-- 富文本编辑器 end -->

{% endblock %}


