{% extends 'base.html' %}
{% from 'include/_macros.html' import pagination_widget %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/user_all.css') }}"/>
{% endblock %}

{% block page_content %}
    <p></p>
    <div class="profile">
        <header class="profile__heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a class="text-left" href="/u/{{ user.id }}"><img
                                class="avatar-128 profile__heading--avatar"
                                src="{{ url_for('static',filename='images/user-256.png') }}"
                                alt="{{ user.username }}"/>
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h2 class="profile__heading--name">{{ user.username }}</h2>
                        <div class="profile__heading--desc js-show">
                            {{ user.about_me }}
                        </div>
                        <div class="profile__heading--social"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="mt10">
                            <a class="btn mr10 btn-success userfollow"
                               data-id="1030000003939487">
                                加关注
                            </a>
                        </div>
                        <div class="qa-rank">
                            <div class="col-md-4 col-xs-4">
                                <a href="/u/{{ user.id }}/rank">
                                    <h4>10</h4>
                                </a>
                                <span>声望值</span>

                            </div>
                            <div class="col-md-4 col-xs-4">
                                <a href="/u/{{ user.id }}/rank">
                                    <h4>{{ user.get_vote_num() }}</h4>
                                </a>
                                <span>被赞数</span>

                            </div>
                            <div class="col-md-4 col-xs-4">
                                <a href="/u/{{ user.id }}/rank">
                                    <h4>32</h4>
                                </a>
                                <span>粉丝</span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="wrap mt30">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked profile__nav">
                            <li {% if type == 'questions' %} class="active" {% endif %} >
                                <a href="/u/{{ user.id }}/questions">
                                    <span>他的提问</span>
                                    <span class="count">{{ user.questions.count() }}</span>
                                </a>
                            </li>
                            <li {% if type == 'answers' %} class="active" {% endif %}>
                                <a href="/u/{{ user.id }}/answers">
                                    <span>他的回答</span>
                                    <span class="count">{{ user.answers.count() }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10 profile-mine"><h4 class="profile-mine__heading">
                    <span>
                        {% if type == 'answers' %}他的回答{% elif type == 'questions' %}他的提问{% endif %}
                    </span>
                    </h4>
                        <ul class="profile-mine__content record-list">
                            {% if type == 'questions' %}
                                {% if not qa %}{% set qa = user.questions %}{% endif %}
                                {% for question in qa %}
                                    <li class="">
                                        <div class="row">
                                            <div class="col-md-2"><span
                                                    class="badge green">+{{ question.answers.count() }}</span><span
                                                    class="profile-mine__content--text">回答</span></div>
                                            <div class="col-md-8">
                                                <a href="/q/{{ question.id }}">
                                                    {{ question.title }}
                                                </a>
                                            </div>
                                            <div class="col-md-2"><span
                                                    class="profile-mine__content--date">{{ question.create_time }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% elif type == 'answers' %}
                                {% if not qa %}{% set qa = user.answers %}{% endif %}
                                {% for answer in qa %}
                                    <li class="">
                                        <div class="row">
                                            <div class="col-md-2"><span class="badge green">{{ answer.vote_num }}</span><span
                                                    class="profile-mine__content--text">赞赏</span></div>
                                            <div class="col-md-8">
                                                <a href="/q/{{ answer.question.id }}">
                                                    {{ answer.title }}
                                                </a>
                                            </div>
                                            <div class="col-md-2"><span
                                                    class="profile-mine__content--date">{{ answer.create_time }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="text-center">
                            {% if pagination %}
                                <div class="pagination">
                                    {{ pagination_widget(pagination, endpoint='.index',id=user.id,type=type) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
